.cart-img {
  height: 175px;
  width: 175px;
  object-fit: scale-down;
  border-radius: 5px;
  border: 3px solid rgba(150,150,150,0.9);
}

.cart-item-qty-change-button,
.cart-item-qty {
  width: 45px;
  height: 40px;
  background-color: rgba(225,225,225,0.9);
  border: 1px solid black;
  border-radius: 2px;
}

.cart-item-qty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-qty-buttons {
  display: flex;
  font-size: 18px;
}

.cart-item-qty-change-button-left {
  border-radius: 8px 0 0 8px;
}

.cart-item-qty-change-button-right {
  border-radius: 0 8px 8px 0;
}

.cart-item-container {
  display: flex;
  margin: 0 16px;

}

ul {
  margin: 0;
  padding: 0;
}

.cart-divider-left {
  width: min(350px, 95%);
}

.cart-divider-left-bottom {
  font-size: 18px;
}

/* .cart-divider-right {
  display: flex;
  flex-direction: column;
} */

.cart-table-headers li {
  list-style-type: none;
}

.cart-item-price {
  margin: 8px 0 2px 0;
}

.cart-item-subtotal, .cart-item-price {
  font-size: 18px;
}

.cart-item-subtotal {
  font-weight: 500;
}

.cart-table-headers {
  background-color: rgba(150,150,150,0.9);
  display: flex;
  color: rgba(150,150,150,0.9);
  border-bottom: 5px solid rgba(150,150,150,0.9);
  padding: 0 20px 0 20px;
  font-size: 24px;
  margin-bottom: 16px;
}

.cart-details-header {
  color: white;
  width: 350px;
}

.cart-totals-header {
  color: white;
  width: 150px;
}

.cart-item-bottom-separator {
  border-bottom: 3px solid rgba(150,150,150,0.9);
  margin: 20px 16px;
}

.cart-total {
  font-size: 24px;
}

.cart-checkout-button {
  margin-left: 16px;
}

/* .checkout-button {
  margin: 0 16px 16px 16px;
  background-color: rgba(13, 110, 253, 1);
  width: min(400px, 90%);
  color: white;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
} */

.checkout-button {
  margin: 0 16px 16px 16px;
  color: white;
  border: 1px solid white;
  background-color: rgba(53, 134, 255, 0.9);
  text-decoration: inherit;
  padding: 10px 120px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: bold;
}

.checkout-button:hover {
  color: white;
  border: 2px solid white;
  background-color: rgba(53, 134, 255, 1);
}


.main-cart-wrapper {
  background-color: white;
  outline: 3px solid rgba(150,150,150,0.9);
  border-radius: 5px;
  /* padding: 0 5px 0 5px; */
  padding-bottom: 5px;
  width: max(390px, 50%);
  margin: 20px auto;
}

.bottom-cart-checkout {
  /* background-color: rgba(150, 150, 150, 0.9);
  color: white; */
  border-radius: 6px;
  padding-top: 8px;
  margin: 16px;
  border: 3px solid rgba(150, 150, 150, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-cart-container {
  margin: 10px;
}
