.update-text,
.delete-text {
  width: 47%;
  height: 40px;
  border-radius: 3px;
  border: none;
  outline: 2px solid teal;
  color: teal;
  font-weight: bold;
  background-color: rgba(0, 128, 128, 0.1);
  margin: 16px 0 16px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 20%;
  text-align: center;
}

.update-text:hover,
.delete-text:hover
{
  background-color: rgba(0, 128, 128, 0.2);
}

.update-delete-wrapper {
  display: flex;
  justify-content: space-between;
}

a.update-text {
  text-decoration: none;
}

.message-popup {
  position: fixed;
  background-color: rgba(0,100,0,0.8);
  color: white;
  top: 92vh;
  width: max(380px, 30%);
  left: calc(50% - max(380px, 30%)/2);
  height: 48px;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  outline: 1px solid gray;
}

.message-inactive {
  display: none;
}

.card-update-button,
.card-delete-button,

.card-update-button:active,
.card-delete-button:active
{
  width: 148px;
  margin: 10px 0;
  border-radius: 8px;
  background-color: rgba(0,100,0,0.8) !important;
  background-color: green;
  border: none !important;
  outline: 1px solid teal;
  padding: none !important;
  box-shadow: none !important;
}

.card-update-button:hover,
.card-delete-button:hover{
  background-color: rgba(0, 100, 0, 0.9) !important;
  outline: 2px solid teal;
}




.return-link {
  margin-left: calc(50% - min(500px, 80%)/2);
}

.popup-checkmark {
  position: absolute;
  left: 16px;
  font-size: 24px;
  color: white;
}
