.update-text,
.delete-text {
  width: 47%;
  height: 40px;
  border-radius: 3px;
  border: none;
  outline: 2px solid teal;
  color: teal;
  font-weight: bold;
  background-color: rgba(0, 128, 128, 0.1);
  margin: 16px 0 16px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 20%;
  text-align: center;
}

.update-text:hover,
.delete-text:hover
{
  /* color: white; */
  background-color: rgba(0, 128, 128, 0.2);
}

.update-delete-wrapper {
  display: flex;
  justify-content: space-between;
}

a.update-text {
  text-decoration: none;
}
