.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.food-card {
  background-color: rgba(225,225,225,0.5);
  outline: 2px solid teal;
  border-radius: 5px;
  margin: 0px;
  width: 350px;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 5px 0px #BEBEBE;
}

.food-wrapper {
  width: min(2000px, 90%);
  margin: 0 auto;
  margin-top: 10px;
}

.food-selector-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.food-selector-button {
  font-size: 18px;
  width: 115px;
  background-color: rgba(253,253,253);
  color: gray;
  border: none;
  margin: 10px 0 10px 0;
}

.active-food {
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.add-to-cart-button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: none;
  outline: 2px solid teal;
  color: teal;
  font-weight: bold;
  background-color: white;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}

.food-ul {
  padding: 0;
  position: relative;
}

.empty-food-card {
  opacity: 0.3;
  outline: 2px solid rgba(0,128,128, 0.1);
}

.food-card-img {
  margin-bottom: 16px;
  width: 350px;
  height: 235px;
  object-fit: scale-down;
  outline: 2px solid teal;
  border-radius: 2px 2px 0 0;
  /* margin-top: 15px; */
  background-color: white;
}

.favorited {
  color: red !important;
}

.favorite-icon-div-favorited {
  background-color: white !important;
  outline: 2px solid red !important;

}

.favorite-icon {
  font-size: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.full {
  color: black;
}

.empty {
  color: rgba(50,50,50,0.2);

}

.font-awesome-icon .star {
 -webkit-text-stroke: 1px red;
 font-family: arial;
 color: green;
}

.food-card-text-container {
  display: flex;

}

.food-card-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.food-card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.food-cart-bottom-container {
  margin: 0 15px;
}

.list-food-name, .list-food-price {
  font-weight: bold;
  font-size: 20px;
}

.favorite-icon-div {
  right: 12px;
}

.food-cart-wrapper {
  left: 12px;
}

.food-cart-wrapper,
.favorite-icon-div {
  background-color: rgba(150, 150, 150, 1);
  outline: 2px solid white;
  height: 50px;
  width: 50px;
  position: absolute;
  font-size: 35px;
  top: 16px;
  /* border-radius: 50%; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.food-cart {
  font-size: 30px;
  color: white;
}

.food-cart-number {
  background-color: teal;
  position: absolute;
  font-size: 17px;
  top: -10px;
  left: 35px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-food-units,
.list-food-rating,
.list-food-available,
.list-food-breed {
  font-size: 18px;
}
