.home-page-section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: darkgreen;
  overflow: hidden;
}

.home-page-section-1 .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../../public/wave.png");
  background-size: 1000px 100px;
}

.home-page-section-1 .wave.wave1 {
 animation: animate 30s linear infinite;
 z-index: 1000;
 opacity: 1;
 animation-delay: 0s;
 bottom: 0;
}

.home-page-section-1 .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.home-page-section-1 .wave.wave3 {
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.home-page-section-1 .wave.wave4 {
  animation: animate2 15s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
 0%
 {
   background-position-x: 0;
 }
  100%
  {
    background-position-x: 1000px;
  }
}


@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1000px;
  }
}

.landing-page-main-header {
  color: white;
  padding-top: 100px;
  margin: 0px 20px 0 20px;
  font-size: 25px;

}

.landing-page-main-text {
  color: white;
  font-size: 18px;
  margin: 20px 20px 40px 20px;
}

.landing-page-main-button {
  color: white;
  border: 1px solid white;
  background-color: rgba(53, 134, 255, 0.8);
  text-decoration: inherit;
  padding: 10px 50px;
  font-size: 20px;
  border-radius: 12px;
  font-weight: bold;
}

.landing-page-main-button:hover {
  color: white;
  border: 2px solid white;
  background-color: rgba(53, 134, 255, 1);
}

.landing-page-main-text-div {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

.carousel {
  /* height: 500px; */
  margin: 40px auto 0 auto;
  /* width: 95%; */
  border: 2px solid white;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .carousel {
    width: 95%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .carousel {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .carousel {
    width: 75%;
  }
}

@media screen and (min-width: 1500px) {
  .carousel {
    width: 45%;
  }
}

.home-page-section-2,
.home-page-section-3 {
  height: 100vh;
}

.home-page-section-2 {
  background-color: purple;
}

.home-page-section-3 {
  background-color: blue;
}

html {
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

section {
  scroll-snap-align: start;
}
