/* navbar */
.bg-myRed {
  background-color: crimson;
}

.content {
  /* padding: 12px; */
  height: 3000px;
}

.coloring {
  color: black;
}

.nav-link {
  margin-left: 35px;
}

.navbar-brand{
  margin-left: 15px;
}

.font-awesome-icon {
  /* color:white; */
}

.cart-number {
  margin: 0 0 0 3px;
  /* border: 1px solid white;
  background-color: white;
  color: rgba(33, 37, 41, 1);
  padding: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block; */
}
